.load {
    animation: slide 2s;
}
.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: slide 20s infinite;
}

@keyframes slide{
    0%{
       background-image: url(../media/images/background-app-1.jpg);
    }
    30%{
        background-image: url(../media/images/background-app-2.jpg);
    }
    60%{
        background-image: url(../media/images/background-app-3.jpg);
    }
    100%{
        background-image: url(../media/images/background-app-1.jpg);
    }
}