.title {
    margin-block-end: -1em !important;
}

.subtitle {
    padding-bottom: 5% !important;
    padding: 0% 0 6% 0 !important;
}

img {
    float: left !important;
    padding: 0% 0% 10% 0 !important;
}

span {
    margin-block-end: -3%;
    margin-block-start: 0.33em;
}


.atributes h4 {
    padding-top: 1.5% !important;
    margin-block-start: 1.33em !important;
    margin-block-end: -1.67em !important;
}

.img-description {
    padding: 0% 2% 2% 0%;
}