
.book {
    width: 140px;
    display: flex;
    flex-direction: column;
  }

.book-top {
  display: flex;
  align-items: center;
}

.cover img {
  height: 150px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color: #999;
}

.tes {
  color: 'rgb(0, 151, 167)',
}