.login {
  position: absolute;
  top: 10%;
  right: 0%;
  height: 80%;
  width: 30%;
}

@import url(https://fonts.googleapis.com/css?family=Lobster|Spicy+Rice);

.root { 
  font-family: 'Spicy Rice', cursive;
  font-family: 'Lobster', cursive;
  color: black;
  overflow: hidden;
  background-image: url(../../media/images/book-home.jpg);
  background-size: 100% 100%;
  
  width: 100%;
  height: 100vh;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 35%;
  top: 0%;
  height: 60%;
  position: absolute;
  opacity: 0.8;
  left: 9%;
  top: -5%;
  background-size: inherit;
  background-repeat:no-repeat;
  background-image: url(../../media/images/folder-home.png);
}

.folder-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.folder-text-welcome {
  font-size: 34px;
  margin-block-end: -1em;
} 

.folder-text-title {
  font-size: 50px;
  margin-block-start: 20%;
  margin-block-end: 0;
}

.folder-button-whats {

}

.folder-button-access {

}

.folder-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30%;
  margin: -5% 15% 0% 0%;
}


/* @media screen and (min-width: 1201px) and (max-width: 2000px) {
  
  .folder {
    opacity: 0.85;
    
    left: -8%;
  }

  .folder-text {
    margin: 3% 8% 0% 8%;
  }
  
  .folder-text-title {
    font-size: 40px;
    margin-block-end: -5px !important;
  }

  .folder-text-intro {
    font-size: 23px;
    padding: 0px 0px 0px 15px;
  }

  .folder-text-topics ul {
    margin-block-end: -10px !important;
  }

  .folder-text-buttons {
    padding: 0% 0% 12% 50%;
  }
} */

/*************************** FORMS CSS ****************************/


/* body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
} */

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}


button {
	cursor: pointer;
}

.buttons-sign-in-up button {
  border: none;
  background: none;
  color: #fff;
  border-color: #1161ee;
  font-size: 22px;
  /* margin-right: 15px; */
  /* padding-bottom: 5px; */
  /* margin: 0 15px 10px 0; */
  /* display: inline-block; */
  /* border-bottom: 2px solid transparent; */
}

.login-wrap{
  width:100%;
  height: 100%;

	/* margin:auto;
	max-width:525px;
	min-height:670px;
  position:relative; */
  
	box-shadow:0 5px 50px 15px rgba(0,0,0,0.5), 0 15px 15px 0 rgba(0,0,0,0.19)
}

.login-html{
  width: 100%;
  height: 100%;
  /* position: absolute; */
  padding: 25% 10% 10% 10%;
  background: rgba(40,57,101,.9);
}

.login-form .group{
	margin-bottom:15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
  width: 60%;
  /* justify-self: center; */
  color: #fff;
  display: block;
  margin: 0% 0% 0% 20%;
}

.login-form .group .input,
.login-form .group .button{
  border: none;
  padding: 8px 13px;
  /* border-radius: 25px; */
  background: rgba(255,255,255,.1);
}

.login-form .group .label{
	color:#aaa;
	font-size:12px;
    margin: 0px 0px 10px 0px;
}
.login-form .group .button{
	background:#1161ee;
}

.hr{
	height:2px;
	margin: 30px 0 25px 0;
	background:rgba(255,255,255,.2);
}
