@import url(https://fonts.googleapis.com/css?family=Lobster|Spicy+Rice);

@media only screen and (max-width: 1900px) {

  .parchment-text-title,
  .parchment-text-welcome {
    font-size: calc(4.5vh - 0px) !important;
  }
  
  .how-work,
  .parchment-button-click,
  .footer-social-copyright-overwrite {
    font-size: calc(4.5vh - 10px) !important;
  }

  .buttons-sign-in-up button {
    font-size: calc(7vh - 0px) !important;
  }
  
  .group,
  .login-form,
  .group, 
  .label {
    font-size: calc(4.5vh - 10px) !important;
  }

}

@media only screen and (min-width: 1000px) and (max-width: 1550px) {

  .parchment-text-title,
  .parchment-text-welcome {
    font-size: calc(4.5vh - 5px) !important;
  }
  
  .how-work,
  .parchment-button-click {
    font-size: calc(4.5vh - 15px) !important;
  }

  .footer-social-copyright-overwrite {
    font-size: calc(4.5vh - 20px) !important;
  }

  .buttons-sign-in-up button {
    font-size: calc(7vh - 5px) !important;
  }
  
  .group,
  .login-form,
  .group, 
  .label {
    font-size: calc(4.5vh - 15px) !important;
  }

}

@media only screen and (min-width: 1150px) and (max-width: 1350px) {

  .parchment-text-title,
  .parchment-text-welcome {
    font-size: calc(4.5vh - 10px) !important;
  }
  
  .parchment-button-click {
    font-size: calc(4.5vh - 20px) !important;
  }

  .footer-social-copyright-overwrite {
    font-size: calc(4.5vh - 25px) !important;
  }

  .buttons-sign-in-up button {
    font-size: calc(7vh - 10px) !important;
  }
  
  .group,
  .login-form,
  .group, 
  .label {
    font-size: calc(4.5vh - 20px) !important;
  }

}

@media only screen and (min-width: 701px) and (max-width: 1005px) {

  .parchment-text-title,
  .parchment-text-welcome {
    font-size: calc(4.5vh - 15px) !important;
  }
  
  .how-work,
  .parchment-button-click {
    font-size: calc(4.5vh - 17px) !important;
  }

  .footer-social-copyright-overwrite {
    display: none
  }

  .footer-social-overwrite {
    display: contents;
  }

  .buttons-sign-in-up button {
    font-size: calc(7vh - 15px) !important;
  }

  .parchment-text-title {
    text-align: initial;
    margin: 0% 0% 0% 10% !important;
  }
  
  .group,
  .login-form,
  .group, 
  .label {
    font-size: calc(4.5vh - 25px) !important;
  }

}

@media only screen and (min-width: 700px) and (max-width: 1005px) {

  .parchment-text-title {
    text-align: initial;
    margin: 0% 0% 0% 15%;
  }
}

@media only screen and (min-width: 566px) and (max-width: 750px) {
  
  .how-work {
    top: 30% !important;
    font-size: calc(4.5vh - 20px) !important;
  }

  .parchment {
    width: 55% !important;
    height: 80% !important;
    opacity: 0.8 !important;
    left: -5% !important;
    top: -8% !important;
  }

  .parchment-text-title,
  .parchment-text-welcome{
    font-size: calc(4.5vh - 0px) !important;
    text-align: center;
    margin: 0% 0% 0% 0% !important;
  }

  .parchment-button-click {
    font-size: calc(4.5vh - 14px) !important;
  }

  .label {
    font-size: calc(4.5vh - 13px) !important;
  }

  .login-html {
    top: 28% !important; 
  }

  .parchment-secondary {
    width: 65% !important;
    left: 35% !important;
  }

}

@media only screen and (min-width: 371px) and (max-width: 565px) {
  
  .how-work {
    top: 22% !important;
    font-size: calc(4.5vh - 16px) !important;
  }

  .label {
    font-size: calc(4.5vh - 10px) !important;
  }
  .parchment-text-title {
    font-size: calc(4.5vh - -10px) !important;
    margin: 0% 0% 0% 0% !important;
    text-align: center;
  }

  .parchment-text-welcome {
    font-size: calc(4.5vh - 0px) !important;
    margin: 15% 0% 0% 0% !important;
    }

  .login-button-close {
    top: 18%;
    top: 65% !important;
    position: sticky;
  }

  .parchment-secondary {
    width: 100% !important;
    left: 0% !important;
    background-size: 100% 100%;
  }

  .parchment {
    width: 100% !important;
    height: 98% !important;
    opacity: 0.8 !important;
    left: 0% !important;
    top: -8% !important;
    background-size: 80% 100%;
  }

  .parchment-content {
    width: 55%;
  }

  .parchment-button {
    align-items: center;
    width: 85%;
    grid-gap: 0%;
  }

  .login-html {
    top: 35% !important;
  }

  .footer-social-btn {
    justify-content: center;
  }

  .login-button-close {
    top: 69% !important;
  }
}

@media only screen and (min-width: 371px) and (max-width: 400px) {

  .parchment-text-title {
    font-size: calc(4.5vh - 0px) !important;
  }

  .how-work {
    font-size: calc(4.5vh - 18px) !important;
  }


}

@media only screen and (min-width: 7px) and (max-width: 370px) { 

  .how-work {
    font-size: calc(4.5vh - 12px) !important;
  }
  
  .parchment-text-title,
  .parchment-text-welcome {
    font-size: calc(4.5vh - 2px) !important;
  }
  
  .parchment {
    background-size: 120% 100% !important;
    left: 0% !important;
    width: 100% !important;
    height: 98% !important;
  }

  .parchment-secondary {
    width: 140% !important;
    height: 100% !important;
    opacity: 1 !important;
    left: -20% !important;
    top: -8% !important;
  }

  .label,
  .group {
    font-size: calc(4.5vh - 14px) !important;
  }

  .login-form {
    font-size: calc(4.5vh - 15px) !important;
  }

  .login-button-close {
    position: sticky;
    top: 77% !important;
  }

  .footer-social-btn {
    justify-content: center;
  }

  .parchment-button-click {
    font-size: calc(4.5vh - 9px) !important;
  }

}

@media only screen and (min-width: 7px) and (max-width: 227px) {
  
  .how-work {
    font-size: calc(4.5vh - 19px) !important;
  }

  .label {
    font-size: calc(4.5vh - 14px) !important;
  }

  .parchment-text-title,
  .parchment-text-welcome {
    font-size: calc(4.5vh - 7px) !important;
  }

  .parchment-button-click {
    font-size: calc(4.5vh - 9px) !important;
  }

}

.root { 
  font-family: 'Spicy Rice', cursive;
  font-family: 'Lobster', cursive;
  color: black;
  overflow: hidden; 
  width: 100%;
  height: 100vh;
}

.background-image {
  background-image: url(../../media/images/book-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.parchment,
.parchment-secondary {
  position: absolute;
  text-align: -webkit-center;
  background-position: bottom;
  background-size: 80% 100%;
  background-repeat:no-repeat;
  background-image: url(../../media/images/parchment-home.png);
}

.parchment-secondary {
  width: 50%;
  height: 100%;
  opacity: 1;
  left: 40%;
  top: -10%;
}

.parchment {
  width: 35%;
  height: 60%;
  opacity: 0.8;
  left: 9%;
  top: -5%;
}

.parchment-content {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  height: 60%;
  width: 65%;
  top: 20%;
  position: relative;
}

.parchment-text-title {
  font-size: 40px;
  align-self: end;
}

.parchment-text-welcome {
  font-size: 34px;
}

.parchment-button {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  align-self: baseline;
  width: 90%;
  height: 100%;
  grid-gap: 3%;
}

.parchment-button-click {
  font-size: 25px;
  cursor: pointer;
}

.parchment-button-click:hover {
  font-size: 30px;
}

.how-work {
  position: relative;
  top: 20%;
  font-size: 30px;
}

/*************************** FORMS STYLES ****************************/

button {
  cursor: pointer;
  font: inherit;
}

.buttons-sign-in-up button {
  background: none;
  color: #060606;
  border: none;
  font-size: 60px;
}

.login-wrap,
.how-work {
  width: 50%;
  height: 60%;
}

.login-html{
  width: 100%;
  height: 100%;
  position: relative;
  top: 40%;
}

.login-form .group{
	margin-bottom:15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
  width: 70%;
  display: block;
}

.input {
  color: black
}

.login-form .group .input,
.login-form .group .button{
  border: none;
  padding: 8px 13px;
  background: rgba(255,255,255,.3);
}

.login-form .group .label{
  color: #080202;
  font-size: 40px;
}
.login-form .group .button{
  background: #141619b8;
  border-radius: 6px;
}

.button, 
.buttons-sign-in-up {
  font-family: 'Spicy Rice', cursive;
  font-family: 'Lobster', cursive;
}

.button {
  color: #bbb;
}

.hr{
	height:2px;
	margin: 30px 0 25px 0;
	background:rgba(255,255,255,.2);
}

/******************************** OVERWRITE FOOTER STYLE ****************/

.footer-social-overwrite {
  width: 100% ;
  color: black !important;
  justify-items: center;
}

.footer-social-copyright-overwrite {
  font-size: 20px;
}

.footer-social-copyright-overwrite:hover {
  font-size: 20px !important;
  border-radius: 4px;
  background-color: #ffffff78;
  padding: 2px 2px 2px 2px;
}

.b-hover-overwrite:hover {
  background-color: transparent;
  position: relative;
  bottom: 10px;
}

.b-hover-overwrite:hover svg {
  width: 25px;
  height: 25px;
} 

.languagesBtn-overwrite:hover {
  background-color: transparent !important;
}