.b-hover:hover {
    color: #303030;
    background-color: #303030;
    border-radius: 5px;
}

.IconButton {
    -webkit-margin-after: 0%;
    margin-block-end: 0%;
    -webkit-margin-before: 0em;
    margin-block-start: 0em;
}

.header {
    background: black;
    height: 100%;
    width: 100%;
    display: flex;
    height: 100%;
}

.header-menu-btn {
    display: none;
    align-items: center;
    justify-content: center;  
    margin: 2% 0% 0% 3%;
    
    background: black;
    width: 55px;
    border-radius: 80px;

    position: fixed;
    z-index: 90000;
}

.header-menuBtn-buttons {
    padding: 0px 0px 20px 0px !important;
}

.header-menuBtn-navegate,
.header-menuBtn-navegate-home-login {
    display: flex;
    flex-direction: column;
}

.header-navegate-languages {
    grid-column-start: 2;
    grid-column-end: 3;

    justify-self: end;
    padding: 0px 10px 0px 0px;
}

.header-navegate-logout {
    grid-column-start: 2;
    justify-self: end;
    padding: 0px 10px 0px 0px;
}

.header-navegate-search {
    align-self: center;
    justify-self: end;
    padding: 0px 10px 0px 0px;
}

.header-navegate {
    display: grid;
    grid-template-columns: 1fr 205px;
    align-self: center;
    text-align: center;
}

.header-navegate-home-login {
    display: flex;
    align-items: center;
}

.header-title {
    color: rgb(0, 151, 167) !important;
    align-self: center;
    width: 100%;
    font-size: 80px;
    text-align: center;
}

@media only screen and (max-width: 280px) {

    .header-menu-btn {
        display: flex;
        margin: 1% 0% 0% 0% !important;
        right: 0%;
    }

    .footer-social-copyright-overwrite {
        position: absolute;
        top: 13%;
        color: black;
    }

}

@media only screen and (max-width: 380px) {

    .header {
        display: block;
        height: 100%;
    }
    
    .header-hide-btn {
        display: none
    }

    .header-menu-btn {
        display: flex;
        margin: 13% 0% 0% 0%;
    }
    
    .header-navegate {
        display: none;
    }

    .header-navegate-search {
        display: none;
    }

    .footer-social-copyright-overwrite {
        position: '';
        color: 0;
        margin: -5% 0% 0% 5% !important;
        font-size: 9px !important;
        text-align: start;
    }

    .footer-social-overwrite {
        width: 100% !important;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2%;
        padding: 1% 0% 0% 0%;
        margin-left: 0% !important;
    }

    .header-title {
        font-size: 14px !important;
    }
}

@media only screen and (min-width: 381px) and (max-width: 550px) {

    .header-menu-btn {
        display: flex;
        margin: 12% 0% 0% 0%;
    }

    .header {
        display: block;
        height: 100%;
    }

    .header-hide-btn {
        display: none
    }

    .header-navegate {
        display: none;
    }

    .header-navegate-search {
        display: none;
    }

    .footer-social-btn-overwrite {
        display: block;
        text-align: end;
    }

    .footer-social-overwrite {
        width: 100% !important;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2%;
        padding: 1% 0% 0% 0%;
        margin-left: 0% !important;
    }

    .footer-social-copyright-overwrite {
        margin: -5% 0% 0% 5% !important;
        text-align: start;
    }

    .header-title {
        width: 100% !important;
        font-size: 20px !important;
    }
}

@media only screen and (min-width: 551px) and (max-width: 1000px) {

    .header {
        display: block;
        height: 100%;
    }

    .header-hide-btn {
        display: none
    }

    .header-menu-btn {
        display: flex;
        margin: 2% 0% 0% 3%;
    }

    .header-navegate {
        display: none;
        width: 100% !important;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(12, 1fr);
    }

    .header-navegate-translate {
        display: flex !important;
        display: none;
    }

    .header-navegate-search {
        display: none;
        grid-column-start: none;
        margin-right: 34%;
    }

    .footer-social-overwrite {
        width: 100% !important;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2%;
        padding: 1% 0% 0% 0%;
        margin-left: 0% !important;
    }

    .header-title {
        width: 100% !important;
        font-size: 30px !important;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1220px) { 

    .header-navegate {
        width: 55%;
    }

    .header-navegate-search {
        justify-self: start;
    }

    .header-title {
        width: 75%;
        font-size: 35px;
    }

    .footer-social-overwrite {    
        width: 53%;
        margin-left: 0% !important;
    }
}

@media only screen and (min-width: 1220px) and (max-width: 1500px) { 

    .header-title {
        width: 75%;
        font-size: 50px;
    }
}