@media only screen and (min-width: 1441px){
  p {
    font-size: 40px !important;
  }

  .parchment-secondary-container {
    width: 35% !important;
    margin: 12% 0% 0% 0% !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
  p {
    font-size: 35px !important;
  }

  .parchment-secondary-container {
    width: 55% !important;
    margin: 25% 0% 0% 0% !important;
  }
}
  
@media only screen and (min-width: 481px) and (max-width: 768px){
  p {
      font-size: 33px !important;
  }

  .parchment-secondary-container {
      margin: 30% 0% 0% 0% !important;
      width: 65% !important;
  }
}

@media only screen and (min-width: 271px) and (max-width: 480px){

  p {
    font-size: 25px !important;
  }
  .parchment-secondary-container {
    width: 70% !important;
    margin: 66% 0% 0% 0% !important;
}

}

@media only screen and (max-width: 270px){
  p {
    font-size: 23px !important;
  }

  .parchment-secondary-container {
    margin: 45% 0% 0% 0% !important;
    width: 70% !important;
  }
}

.parchment-secondary-container {
  font-size: 33px;
  width: 37%;
  height: 60%;
  margin: 18% 0% 0% 0%;
  color: #ba2c2c;
}

p {
  font-size: 35px;
}