.search-help {
  display: flex;
  align-items: center;
  justify-content: center;  
  margin: 2% 0% 2% 0%;

}

input {
  width: 70%;
  padding: 1% 2% 1% 3%;
  margin: 0% 2% 0% 0%;
  background-image: url('../../media/icons/search.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  align-content: center;
  background-size: 1.2em;
  font-size: 1.2em;
  border: 0;
  outline: none;

  background-color: #e0dfdf;;
  border-radius: 5px;
}

.img-gif {
  display: flex;
  justify-content: center;
}

.search-book-case {
  list-style-type: none !important;
  margin: 0 !important;

  display: flex;
  justify-content: center !important;
  flex-flow: wrap !important;
}


  