@import '../../../index.scss';

.home-casesbook {
    margin: 5%;
}
  
.home {
  padding: 0 2% 10%;
}

  
.bookshelf-title {
  margin-top: 5%;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 40px;

  padding-bottom: 3%;
  margin-block-end: 0;
}

.bookshelf-title-DARK {
  @extend %dark-color;
  @extend %dark-title-with-border 

}

.bookshelf-title-LIGHT {
  @extend %light-color;
  @extend %light-title-with-border  
}



