.home-casesbook {
    margin: 5%;
}
  
.home {
  padding: 0 2% 10%;
}
  
@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}
  
.bookshelf-title {
  border-bottom: 1px solid #dedede;
  padding: 2%;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 40px;
  color: rgb(0, 151, 167);
}

@media only screen and (max-width: 500px) {
  
  .bookshelf-title {
    padding: 15% 0% 5% 0% !important;
    font-size: 30px !important;
  }

  .book-case {
    justify-content: end !important;
    padding: 5px 0px 0px 10px !important;
  }

}

@media only screen and (min-width: 500px) {

  .home {
    padding: 5% 2% 10% !important;
  }

  .bookshelf-title {
    padding: 3% !important;
    font-size: 35px !important;
  }

}
  
@media only screen and (min-width: 900px){ 

  .home {
    padding: 0 2% 10%;
  }

  .bookshelf-title {
    padding: 2%;
    font-size: 40px;
  }
}