.header {
    display: flex;
    flex-grow: 2;
    border: solid;
    background: black;
    align-items: center;
    padding: 0 2% 0 2%;
    color: black;
    
    
    height: 100px;
}

.add-book {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    width: 75%;
    padding: 2%;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 40px;
    color: rgb(0, 151, 167)
}

